@model IEnumerable<Mvc.Models.mvcEmpresaModel>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    <a href="@Url.Action("AgregaroEditar","Empresas")" class="btn btn-default">Crear Empresa</a>
</p>
<table class="table table-striped">
    <thead class="table-bordered">
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.NombreEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
