@model IEnumerable<Mvc.Models.mvcEmpresaModel>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    <a href="@Url.Action("AgregaroEditar","Empresas")" class="btn btn-default">Crear Empresa</a>
</p>
<table class="table table-striped">
    <thead class="table-bordered">
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.NombreEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            <a href="@Url.Action("AgregaroEditar", "Empresas", new { id = item.IdEmpresa})" class="btn btn-default"><i class="fa fa-EditorEmpresa"></i> Editar</a>
            <a onclick="Delete(@item.IdEmpresa)" class="btn btn-default"><i class="fa fa-BorradorEmpresa"></i> Borrar</a>
        </td>
    </tr>
}

</table>

@section scripts {
<script>
    $(function () {
        var successMessage = '@TempData["SuccessMessage"]'
        if (successMessage != '')
        {
            alertify.success(successMessage);
        }
    });
    function Delete(id)
    {
        alertify.confirm('Confirmacion de Cambio', 'Esta seguro de querer borrar esta empresa?',
            function () {
                window / location.href = '@Url.Action("Delete", "Empresas")/' + id;
            }, null
        );
    }
</script>
} 
