@model IEnumerable<Mvc.Models.mvcPlanesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("AgregaroEditarPlanes","Planes")" class="btn btn-default">Crear Plan</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEmpresa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpresa)
            </td>
            <td>
                <a href="@Url.Action("AgregaroEditarPlanes", "Planes", new { id = item.IdPlan})" class="btn btn-default"><i class="fa fa-EditorPlan"></i> Editar</a>
                <a onclick="Delete(@item.IdPlan)" class="btn btn-default"><i class="fa fa-BorradorPlan"></i> Borrar</a>
            </td>
        </tr>
    }

</table>

@section scripts {
<script>
    $(function () {
        var successMessage = '@TempData["SuccessMessage"]'
        if (successMessage != '')
        {
            alertify.success(successMessage);
        }
    });
    function Delete(id)
    {
        alertify.confirm('Confirmacion de Cambio', 'Esta seguro de querer borrar este plan?',
            function () {
                window / location.href = '@Url.Action("Delete", "Planes")/' + id;
            }, null
        );
    }
</script>
}
